* {
  margin: 0;
  padding: 0;
}

@keyframes changeBG {
  from {
    background: #845EC2;
  }

  to {
    background: #2C73D2;
  }
}

body {
  height: calc(100vh - 110px);
  animation-duration: 3s;
  animation-name: changeBG;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#login {
  margin: 120px auto;
  width: 400px;
  height: 500px;
  padding: 40px;
  box-sizing: border-box;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 35px black;
}

.anim {
    transition: width 0.4s ease-in-out;
}

#login input[type="text"], input[type="password"]  {
  width: 75px;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

#login .anim:focus {
  width: 80%;
}

#login input[type="submit"] {
  background: #7648fa;
}
